html {
    scroll-behavior: smooth;
    background-image: url("https://images.photowall.com/products/60438/gray-wall-texture.jpg?h=699&q=85");
}
.navbar li {
    background:scroll;
    display:inline;
    justify-content:flex-start;
    padding: 10px 0;
}
.navbar li {
    position:unset;
}

.navbar a {
    text-decoration:solid;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display:table;
}

.navbar a:hover {
    background: #555;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: s;
    top: 100%;
    left: 0;
    background: #444;
    min-width: 150px;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px;
    display: ruby-base-container;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
li {
    display: inline;
}
html {
    scroll-behavior: smooth;
}
.flex-row {
    display: flex;
}