h1 {
    color:rgb(0, 0, 0);
}
h2 {
    color:rgb(0, 0, 0);
}
h1 {
    background-color:rgb(231, 79, 255);
}
h2 {
    background-color:rgb(255, 243, 13);
    background-position: center;
}
p {
    color:rgb(0, 0, 0)
}
p {
    background-image: url("");
}
p {
    font-family: 'Iansui';
}
h2 {
    font-family: 'Knewave';
}
h1 {
    font-family: 'Knewave';
}
h2 {
    font-size: 30px;
}
h1 {
    font-size: 40px;
}

p {
    font-size:larger;
}
}
.navbar li {
    background:scroll;
    display:inline;
    justify-content:flex-start;
    padding: 10px 0;
}
.navbar li {
    position:unset;
}

.navbar a {
    text-decoration:solid;
    color: rgb(205, 250, 212);
    padding: 10px 20px;
    display:table;
}

.navbar a:hover {
    background: #555;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: s;
    top: 100%;
    left: 0;
    background: #444;
    min-width: 150px;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px;
    display: ruby-base-container;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
li {
    display: inline;
}
html {
    scroll-behavior: smooth;
}
.flex-row {
    display: flex;
}
body {
    background-image: url("https://t4.ftcdn.net/jpg/01/64/99/19/360_F_164991966_MfVeEvVkMOe3ICaGKiYJp8BVFUX1Ogrb.jpg");
  }
  .flex-row {
    background-color: aquamarine;
  }